<div class="row">
    <div class="logo p-5 text-center">
    <%=image_tag("logo.png")%>
    </div>
</div>

<div class="row">
    <h1 class="text-center fw-bold">HARMONY CLUB OF WORCESTER</h1>
</div>

<div class="row">

    <div class="col-4">
            <%=image_tag("flag1.gif", class: "img-fluid")%>
    </div>

    <div class="col-4">
            <%=image_tag("flag2.gif", class: "img-fluid w-75 ms-4")%>
    </div>

    <div class="col-4">
            <%=image_tag("flag3.gif", class: "img-fluid")%>
    </div>

</div>

<hr>

<p class="fs-6 fw-bold text-center">The Harmony Club of Worcester, Massachusetts is a fraternal organization of men and women of French descent that was organized in 1925.
 The Club holds monthly meetings at O'Connor's Restaurant in Worcester with guest speakers. The Club also sponsors other cultural/social/sport events, tours, adult and children's Christmas parties. 
 Members can participate in our golf league that takes place at Bed Rock Golf Club in Rutland, MA.</p>

<p class="fs-6 fw-bold text-center">Our major fund raiser is our "Bob Picard Memorial Golf Tournament" that is held at the Leicester Country Club in Leicester, MA every September. 
 The proceeds from this tournament are the sole funding of the scholarship and civic awards.</p>