<h1>Sections</h1>

<div class="row">

  <% @sections.each do |section| %>

    <div class="col-4">
      <%= render section %>
      <p>
        <%= link_to "Show this section", section %>
      </p>
    </div>

  <% end %>

</div>