<h1>Sponsors</h1>

<div id="sponsors">
  <% @sponsors.each do |sponsor| %>

    <div class="col-lg-4">
      <div class="card text-center" style="width: 18rem;">
        <%= image_tag(sponsor.image) %>
        <div class="card-body">
          <h5 class="card-title"><%= sponsor.title %></h5>
          <%= link_to"Visit Site", sponsor.website, class: "btn btn-primary" %>
          <% if user_signed_in? %>
            <br>
            <%= link_to "Show this sponsor", sponsor, class:"btn border-bottom" %>
          <% end %>
        </div>
      </div>
      </div>
    <p>
    </p>
  <% end %>
  </div>
  </div>
</div>
