body {
    background-color: #00075e;
}

.container{
    position: relative;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b22234;;
    color: white;
    text-align: center;
}